[Unit]
Description=Pseudo backlight service
PartOf=graphical-session.target
Requires=dbus.socket

[Service]
ExecStart=/usr/local/bin/pseudo-backlight
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
